doctype 5
html(lang="en")
	head

	body
		h1 Stuff

		ul
			li 
				a(href="/") asdsad
			li
				a(href="/bing") redirect
			li
				a(href="/blog/asdad") blog 1
			li
				a(href="/blog/21893012") blog 2
			li
				a(href="/cookie") cookie
